
{% extends "base.html" %}

{% block content %}
<div class="header">
  <a class="link" href="{{ url_for('browse') }}">browse</a> 
  <a class="link" href="{{ url_for('add_a_song') }}">post a song</a>
</div>

<h1>Golden Record 2</h1>
<h1>Welcome 2 Earth</h1>

<p>Welcome, earthling</p>

<div >
  <Carousel>
    <Carousel.Item interval={2000}>
      <img
        className="d-block w-50"
        src="static/IMG-3105.JPG"
        alt="Image One"
      />
    </Carousel.Item>

    <Carousel.Item interval={2000}>
      <img
        className="d-block w-50"
        src="static/IMG-3086.JPG"
        alt="Image Two"
      />
    </Carousel.Item>

    <Carousel.Item interval={2000}>
      <img
        className="d-block w-50"
        src="static/IMG-3111.JPG"
        alt="Image Two"
      />
    </Carousel.Item>
  </Carousel>
  </div>

{% endblock %}